input {
  /* no content but borders */
  border: 1px solid var(--text-color);
  border-radius: 5px;

  font-size: 1.5rem;
  font-family: 'Neue Machina', sans-serif;
  color: var(--text-color);

  background-color: transparent;

  padding: 0.5em;

  outline: none;
  transition: all 0.3s ease-in-out;

  /* centering the text vertically */
  display: flex;
  align-items: center;

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
