<section id="home">
	<div class="left load">
		<div class="text">
			<p>Hello there!</p>
			<h1>I'm <span>Niclas</span>,</h1>
			<h1>a developer</h1>
		</div>
		<frontend-button href=" /contact">Get in touch</frontend-button>
	</div>

	<div class="right load">
		<h1>My Skills</h1>

		<div>
			<p>Various programming and scripting languages</p>
			<p>UI Design with Figma</p>
			<p>Web Development with Angular, React</p>
			<p>Backend Development with Nestjs, Expressjs</p>
			<p>Mobile Development with Flutter</p>
			<p>MongoDB, MySQL</p>
		</div>
	</div>
</section>

<section id="about">
	<div class="big-text load">
		<h1>Who Am I</h1>
	</div>

	<div class="text load">
		<p>I'm a web developer from the <span>Germany</span>. I'm currently working as a freelancer at
			<span>Fiverr</span>, but
			I'm also a student. I'm a big fan of <span>web</span>, but also <span>software</span> development and
			I'm always looking for new
			opportunities to improve myself.
		</p>
	</div>
</section>

<section id="fiverr">
	<!-- Showing a star -->
	<div class="star load">
		<img src="../../assets/star.svg" alt="star" width="75px">
	</div>

	<div class="text load">
		<h1>Top Fiverr Rating</h1>
		<p>I was given an average rating of 5 stars by my customers</p>
	</div>
</section>

<section id="work">
	<div class="work load">
		<img src="../../assets/work.svg" alt="work" width="75px">
	</div>

	<div class="big-text load">
		<h1>My Work</h1>
	</div>

	<p class="load">
		I've published lots of projects on my Github Account, feel free to check it out.
	</p>

	<frontend-button class="load" href="https://github.com/bergerapi">See my work</frontend-button>
</section>

<section id="footer">
	<div class="inner">
		<div class="contact">
			<h1>Contact</h1>
			<a href="mailto: support@bergerapi.io">support@bergerapi.io</a>
			<a href="mailto: admin@bergerapi.io">admin@bergerapi.io</a>
			<a href="mailto: complaints@bergerapi.io">complaints@bergerapi.io</a>
		</div>
		<div class="social">
			<h1>Social</h1>
			<a href="https://twitter.com/bergerapi">Twitter</a>
			<a href="https://www.fiverr.com/bergerapi">Fiverr</a>
			<a href="https://www.github.com/bergerapi">Github</a>
		</div>
	</div>
</section>